[Unit]
Description=DynDNS Updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/go-dyndns
Restart=on-failure

[Install]
WantedBy=multi-user.target
